<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center"> Truco </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="Background"></div>
  
  <div class="Container">

    <ion-button size="default" color="dark">1</ion-button>
    <ion-button size="default" color="dark">3</ion-button>
    <ion-button size="default" color="dark">6</ion-button>
    <ion-button size="default" color="dark">9</ion-button>
    <ion-button size="default" color="dark">12</ion-button>


  <ion-grid>
    <ion-row>

      <ion-col class="ion-justify-content-center ion-align-items-center">

        <ion-button size="large" expand="full" color="dark">+</ion-button>
        <span>valor</span>
        <ion-button size="large" expand="full" color="dark">-</ion-button>

        <div class="times">
          <span>Time 01</span>
          <span>Valor</span>
        </div>
      </ion-col>
      <ion-col class="ion-justify-content-center ion-align-items-center">

        <ion-button size="large" expand="full" color="dark">+</ion-button>
        <span>Valor</span>
        <ion-button size="large" expand="full" color="dark">-</ion-button>

        <div class="times">
          <span>Time 02</span>
          <span>Valor</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-footer>
  <ion-toolbar color="danger" >
    <ion-title class="ion-text-center" color="dark">Resetar</ion-title>
  </ion-toolbar>
</ion-footer>


</ion-content>

