<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center"> Truco </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="Background"></div>
  
  <div class="Container">
    
    <ion-toolbar>
      <ion-item color="dark">
        <ion-label>Valendo: {{valendo}}</ion-label>
      </ion-item>
      </ion-toolbar>
    
    
    <ion-grid>
      <ion-row>
        <ion-col><ion-button color="dark">1</ion-button></ion-col>
        <ion-col><ion-button color="dark" (click)="truco()">3</ion-button></ion-col>
        <ion-col><ion-button color="dark" (click)="seis()">6</ion-button></ion-col>
        <ion-col><ion-button color="dark" (click)="nove()">9</ion-button></ion-col>
        <ion-col><ion-button color="dark" (click)="doze()">12</ion-button></ion-col>
      </ion-row>
    </ion-grid>
    
  
  
  
  <ion-grid>
    <ion-row>
      <ion-col class="ion-justify-content-center ion-align-items-center">
    
        <ion-button size="large" color="dark">+</ion-button>
          <ion-item>Valor:</ion-item>
        <ion-button size="large" color="dark">-</ion-button>
      </ion-col>

      <ion-col class="ion-justify-content-center ion-align-items-center">

        <ion-button size="large" color="dark">+</ion-button>
        <ion-item>Valor:</ion-item>
        <ion-button size="large" color="dark">-</ion-button>

      
     
    
      </ion-col>
    </ion-row>
  </ion-grid>
</div>






<ion-footer>
  <ion-toolbar>
  <ion-item color="dark">
    <ion-label>Time 1:</ion-label>
  </ion-item>
  </ion-toolbar>
 </ion-footer>  

 <ion-footer>
  <ion-toolbar>
  <ion-item color="dark">
    <ion-label>Time 2:</ion-label>
  </ion-item>
  </ion-toolbar>
 </ion-footer>  
 
 


<ion-footer>
  <ion-toolbar color="danger" >
    <ion-title class="ion-text-center" color="dark">Resetar</ion-title>
  </ion-toolbar>
</ion-footer>


</ion-content>

