<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">Marcador de Truco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="Background"></div>

  <div class="container-coin ">

    <ion-toolbar>
      <ion-item>
        <ion-label>Valendo: {{valendo}}</ion-label>
      </ion-item>
      </ion-toolbar>


    <ion-grid >
      <ion-row class="top-menu">
        <ion-col><ion-fab-button (click)="Valendo(1)" color="light">1</ion-fab-button></ion-col>
        <ion-col><ion-fab-button (click)="Valendo(3)" color="light">3</ion-fab-button></ion-col>
        <ion-col><ion-fab-button (click)="Valendo(6)" color="light">6</ion-fab-button></ion-col>
        <ion-col><ion-fab-button (click)="Valendo(9)" color="light">9</ion-fab-button></ion-col>
        <ion-col><ion-fab-button (click)="Valendo(12)" color="light">12</ion-fab-button></ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="6" ><ion-fab-button (click)="adicionarTento(1)"><ion-icon name="add"></ion-icon></ion-fab-button></ion-col>
        <ion-col size="6" ><ion-fab-button (click)="adicionarTento(2)"><ion-icon name="add"></ion-icon></ion-fab-button></ion-col>
      </ion-row>

    <ion-row>
      <ion-col size="5">
        <ion-card>
          <ion-col><ion-label class="ion-text-center">{{tentosTime1}}</ion-label></ion-col>
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card>
          <ion-col><ion-label class="ion-text-center">{{tentosTime2}}</ion-label></ion-col>
        </ion-card>
      </ion-col>
    </ion-row>




      <ion-row>
        <ion-col size="6"><ion-fab-button (click)="removerTento(1)" color="danger"><ion-icon name="remove"></ion-icon></ion-fab-button></ion-col>
        <ion-col size="6"><ion-fab-button (click)="removerTento(2)" color="danger"><ion-icon name="remove"></ion-icon></ion-fab-button></ion-col>
      </ion-row>


      <ion-row >
        <ion-col size="6">
          <ion-card>
            <h1 class="ion-text-center">Time 1</h1>
            <h1 class="ion-text-center">{{pontosTime1}}</h1>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <h1 class="ion-text-center">Time 2</h1>
            <h1 class="ion-text-center">{{pontosTime2}}</h1>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="danger" (click)="limpar()">
    <h1 class="ion-text-center">RESET</h1>
  </ion-toolbar>
</ion-footer>
