.container{
    display: flex;
    margin-top: 10px;
    gap: 20px;
}

ion-col{
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.times{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.background {
  height: 100%;
  width: 100%;
  background: url("../../assets/truco.jpg");
  background-size: cover;
  filter: opacity(20%);
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
